:root{
--font-primary :'Poppins', sans-serif;
--font-secondary :'Poppins', sans-serif;

--color-black: #000;
--color-white:#fff;
--color-gray:#6A6A6A;
--color-gray2:#A8A8A8;

--border-color1:#CFCFCF;

--color-primary:#013284;
--color-secondary:#3F6FF9;

}